@mixin square($width, $height, $color) {
  width: $width;
  height: $height;
  background-color: $color;
}
@mixin position($position, $top, $right, $bottom, $left, $z-index) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}
